.parallax-window {
    padding-top: 52px;
	min-height: 500px;
}

html{
	scroll-behavior: smooth;
}

div{
	overflow: auto;
}

nav nav a img {
	border-radius: 50%
}
ul{
	list-style-type: none;
}

li{
	list-style-type: none;
}

.footer{
	position: absolute;
	width: 100%;
	text-align: center;
	background-color: #557684;
	padding-top: 32px;
	padding-bottom: 4px;
}

.icon {
	border-radius: 50%;
	padding-left: 3%;
	padding-right: 3%;
}

.document {
	text-align: center;
}

.page {
	background-color: #5F8493;
}


h1 {
	color: #e3e3e3; 
	padding-top: 52px;
}

h2 {
	color: #e3e3e3;
}

p {
	color: #e3e3e3; 
}

.navbar{
	height: 52px;
	background-color:#1d2120;
}
