.parallax-window {
    padding-top: 52px;
	min-height: 500px;
}
.intro-pic{
	z-index: 0
	background: transparent;
	min-height: 900px;
}
.name1{
	font-size: 30px;
	color: white;
	text-align: right;
}
.name2{
	font-size: 95px;
	color: white;
	text-align: right;
}

html{
	scroll-behavior: smooth;
}

div{
	overflow: auto;
}

nav nav a img {
	border-radius: 50%
}
ul{
	list-style-type: none;
}

li{
	list-style-type: none;
}
body{
	width: 100%;
}

.footer{
	width: 100%;
	text-align: center;
	background-color: #e3e3e3;
	padding-top: 4px;
	padding-bottom: 4px;
}

.icon {
	border-radius: 50%;
	padding-left: 3%;
	padding-right: 3%;
}

.document {
	text-align: center;
}

.page {
	background-color: #5F8493;
}


h1 {
	color: #6c757d; 
	padding-top: 52px;
}

h2, p {
	color: #6c757d;
}


.navbar{
	height: 52px;
	background: linear-gradient(pink 30%, white ) !important;
}

.card{
	margin: auto;
	box-shadow: 1px 1px  #888888;
	padding: 2vw;
	width: 40vw;
	text-align: center;
	display: block;
}


