.parallax-window {
    min-height: 550px;
    background: transparent;
}

nav nav a img {
	border-radius: 50%
}
ul{
	list-style-type: none;
}

li{
	list-style-type: none;
}

.footer{
	position: absolute;
	width: 100%;
	text-align: center;
	background-color: rgb(245, 245, 245);
	padding-top: 4px;
	padding-bottom: 4px;
}

.icon {
	padding-left: 3%;
	padding-right: 3%;
}